template(name="main")
  #page-loader.bg-white
  // Loader / End
  // Content
  #content.bg-white
    // Section - Home
    section#start.section.fullheight.bg-secondary.dark.padding-v-60
      // BG Image
      .bg-image.animated.infinite.zooming
        img(src='/packages/website/assets/img/photos/it-bg01.jpg', alt='...')
      // Middle
      .container.container-wide.v-bottom.padding-v-80
        img.img-circle.margin-b-30(src='/packages/website/assets/img/photos/avatar-default.jpg', alt='...')
        h1.text-lg.margin-b-0
          | Hi! I’m 
          strong Matthew Moyles
        h5.text-primary.margin-b-40 Software Engineer
        span(data-target='local-scroll')
          a.btn.btn-lg.btn-primary(href='#resume')
            span See my resume
            i.ti-arrow-down
        //a.btn.btn-link(href='#')
          span Download my CV
          i.ti-file
    // Section - Home / End
    // Section - Resume
    section#resume.section.padding-v-60
      // Content
      .container.container-wide
        h6.margin-b-50 Resume
        .row.padding-lg
          .col-md-4.col-sm-6.col-xs-12
            // Resume Box / About
            .resume-box
              span.icon.animated(data-animation='fadeInDown')
                i.ti-comment-alt.text-tertiary
              h4
                strong About
                |  Me
              p.lead
                | I'm a Software Engineer from Morgantown, WV with a passion for building awe inspiring web applications.
              p
                | I have experience with wide range of frameworks, libraries, languages, design patterns, and applications.
          .col-md-4.col-sm-6.col-xs-12
            // Resume Box / Specilities
            .resume-box
              span.icon.animated(data-animation='fadeInDown')
                i.ti-mouse-alt.text-tertiary
              h4
                | My 
                strong Specialities
              // Speciality
              .speciality
                span.speciality-icon
                  i.text-muted-2x.ti-desktop
                .speciality-content
                  h5.margin-b-0 Front-End Development
                  p.speciaity-description Responsive, quick and modern looking web apps
              // Speciality
              .speciality
                span.speciality-icon
                  i.text-muted-2x.fa.fa-database(style="margin-left: 3px")
                .speciality-content
                  h5.margin-b-0 Back-End Development
                  p.speciaity-description Data driven, scalable and maintainable backend logic
              // Speciality
              .speciality
                span.speciality-icon
                  i.text-muted-2x.ti-mobile
                .speciality-content
                  h5.margin-b-0 Responsive design
                  p.speciaity-description Presentation that looks and feels native across different devices
          .col-md-4.col-sm-6.col-xs-12
            // Resume Box / Languages
            .resume-box
              span.icon.animated(data-animation='fadeInDown')
                i.fa.fa-code.text-tertiary
              h4
                strong Favorite
                |  languages
              // Skill
              .skill
                .progress.progress-animated
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='95', aria-valuemin='0', aria-valuemax='100')
                    span
                strong JavaScript
              // Skill
              .skill
                .progress.progress-animated
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='85', aria-valuemin='0', aria-valuemax='100')
                    span
                strong Python
              // Skill
              .skill
                .progress.progress-animated
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                    span
                strong PHP
              // Skill
              .skill
                .progress.progress-animated
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100')
                    span
                strong Scala
    // Section - Resume / End
    // Section - Portfolio
    //section#portfolio.section.bg-grey.padding-v-60
      .container.container-wide
        h6.margin-b-50 Portfolio
        .row.masonry
          // Masonry Sizer
          .masonry-sizer.col-lg-3.col-sm-6.col-xs-12
          // Masonry Element
          .masonry-item.margin-b-30.col-lg-6.col-sm-12.col-xs-12
            .gallery-item
              .item-photo
                a(href='projects/project-example-it.html', data-target='ajax-modal')
                  img(src='/packages/website/assets/img/projects/project-square01.jpg', alt='')
                .item-hover.bg-dark.dark
                  .item-hover-content
                    a.icon.icon-sm.icon-hover.icon-circle.icon-primary(href='projects/project-example-it.html', data-target='ajax-modal')
                      i.fa.fa-link
                    a.icon.icon-sm.icon-circle.icon-white.icon-hover(href='#')
                      i.fa.fa-play
              .item-title
                a.title(href='projects/project-example-it.html') Corporate Identity Mockup
                span.caption.text-muted Mockups
          // Masonry Element
          .masonry-item.margin-b-30.col-lg-3.col-sm-6.col-xs-12
            .gallery-item
              .item-photo
                a(href='projects/project-example-it.html', data-target='ajax-modal')
                  img(src='/packages/website/assets/img/projects/project-square02.jpg', alt='')
                .item-hover.bg-dark.dark
                  .item-hover-content
                    a.icon.icon-sm.icon-hover.icon-circle.icon-primary(href='projects/project-example-it.html', data-target='ajax-modal')
                      i.fa.fa-link
                    a.icon.icon-sm.icon-circle.icon-white.icon-hover(href='#')
                      i.fa.fa-play
              .item-title
                a.title(href='projects/project-example-it.html') Corporate Identity Mockup
                span.caption.text-muted Mockups
          // Masonry Element
          .masonry-item.margin-b-30.col-lg-3.col-sm-6.col-xs-12
            .gallery-item
              .item-photo
                a(href='projects/project-example-it.html', data-target='ajax-modal')
                  img(src='/packages/website/assets/img/projects/project-vertical01.jpg', alt='')
                .item-hover.bg-dark.dark
                  .item-hover-content
                    a.icon.icon-sm.icon-hover.icon-circle.icon-primary(href='projects/project-example-it.html', data-target='ajax-modal')
                      i.fa.fa-link
                    a.icon.icon-sm.icon-circle.icon-white.icon-hover(href='#')
                      i.fa.fa-play
              .item-title
                a.title(href='projects/project-example-it.html') Corporate Identity Mockup
                span.caption.text-muted Mockups
          // Masonry Element
          .masonry-item.margin-b-30.col-lg-3.col-sm-6.col-xs-12
            .gallery-item
              .item-photo
                a(href='projects/project-example-it.html', data-target='ajax-modal')
                  img(src='/packages/website/assets/img/projects/project-vertical02.jpg', alt='')
                .item-hover.bg-dark.dark
                  .item-hover-content
                    a.icon.icon-sm.icon-hover.icon-circle.icon-primary(href='projects/project-example-it.html', data-target='ajax-modal')
                      i.fa.fa-link
                    a.icon.icon-sm.icon-circle.icon-white.icon-hover(href='#')
                      i.fa.fa-play
              .item-title
                a.title(href='projects/project-example-it.html') Corporate Identity Mockup
                span.caption.text-muted Mockups
          // Masonry Element
          .masonry-item.margin-b-30.col-lg-6.col-sm-12.col-xs-12
            .gallery-item
              .item-photo
                a(href='projects/project-example-it.html', data-target='ajax-modal')
                  img(src='/packages/website/assets/img/projects/project-horizontal01.jpg', alt='')
                .item-hover.bg-dark.dark
                  .item-hover-content
                    a.icon.icon-sm.icon-hover.icon-circle.icon-primary(href='projects/project-example-it.html', data-target='ajax-modal')
                      i.fa.fa-link
                    a.icon.icon-sm.icon-circle.icon-white.icon-hover(href='#')
                      i.fa.fa-play
              .item-title
                a.title(href='projects/project-example-it.html') Corporate Identity Mockup
                span.caption.text-muted Mockups
          // Masonry Element
          .masonry-item.margin-b-30.col-lg-3.col-sm-6.col-xs-12
            .gallery-item
              .item-photo
                a(href='projects/project-example-it.html', data-target='ajax-modal')
                  img(src='/packages/website/assets/img/projects/project-square03.jpg', alt='')
                .item-hover.bg-dark.dark
                  .item-hover-content
                    a.icon.icon-sm.icon-hover.icon-circle.icon-primary(href='projects/project-example-it.html', data-target='ajax-modal')
                      i.fa.fa-link
                    a.icon.icon-sm.icon-circle.icon-white.icon-hover(href='#')
                      i.fa.fa-play
              .item-title
                a.title(href='projects/project-example-it.html') Corporate Identity Mockup
                span.caption.text-muted Mockups
    // Section - Portfolio / End
    // Section - Testimonials
    //section#testimonials.section.bg-primary.dark.padding-v-60
      // Content
      .container.container-wide
        h6.margin-b-50 Testimonials
        h1.margin-b-0
          strong 4
          |  years of experence - 
          strong over 1k
          |  happy clients!
        h5.text-muted.margin-b-60 Look at their opinions!
        .row.padding-lg
          .col-lg-4.col-sm-6
            // Testimonial
            .testimonial.testimonial-dark
              .testimonial-content.font-alt
                | Non odio maximus, eget ultrices mauris rutrum. Phasellus non diam in neque interdum gravida.
              .testimonial-author.testimonial-with-photo
                .testimonial-photo.animated(data-animation='zoomIn')
                  img.img-circle(src='/packages/website/assets/img/photos/testimonial-avatar01.jpg', alt='')
                .testimonial-author-txt
                  span.name Mark Wagner
                  span.caption.text-secondary Google Inc.
            // Testimonial
            .testimonial.testimonial-dark
              .testimonial-content.font-alt
                | Sed lacinia, nibh sit amet auctor vestibulum, enim risus condimentum erat, quis vestibulum mi ligula a nulla. Nulla vitae pharetra tellus.
              .testimonial-author.testimonial-with-photo
                .testimonial-photo.animated(data-animation='zoomIn')
                  img.img-circle(src='/packages/website/assets/img/photos/testimonial-avatar02.jpg', alt='')
                .testimonial-author-txt
                  span.name Mark Wagner
                  span.caption.text-secondary Google Inc.
          .col-lg-4.col-sm-6
            // Testimonial
            .testimonial.testimonial-dark
              .testimonial-content.font-alt
                | Sed lacinia, nibh sit amet auctor vestibulum, enim risus condimentum erat, quis vestibulum mi ligula a nulla. Nulla vitae pharetra tellus.
                br
                br
                |                           Aenean ac tincidunt augue, volutpat ullamcorper elit.
              .testimonial-author.testimonial-with-photo
                .testimonial-photo.animated(data-animation='zoomIn')
                  img.img-circle(src='/packages/website/assets/img/photos/testimonial-avatar03.jpg', alt='')
                .testimonial-author-txt
                  span.name Mark Wagner
                  span.caption.text-secondary Google Inc.
          .col-lg-4.col-sm-6
            // Testimonial
            .testimonial.testimonial-dark
              .testimonial-content.font-alt
                | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
              .testimonial-author.testimonial-with-photo
                .testimonial-photo.animated(data-animation='zoomIn')
                  img.img-circle(src='/packages/website/assets/img/photos/testimonial-avatar04.jpg', alt='')
                .testimonial-author-txt
                  span.name Mark Wagner
                  span.caption.text-secondary Google Inc.
    // Section - Testimonials / End
    // Section - Latest Posts
    //section#posts.section.bg-grey.padding-v-60
      // Content
      .container.container-wide
        h6.margin-b-50 Latest Posts
        .row.masonry
          // Masonry Sizer
          .masonry-sizer.col-lg-4.col-sm-6.col-xs-12
          // Masonry Element / Post
          article.post.post-item.masonry-item.col-lg-4.col-sm-6.col-xs-12
            .post-photo
              img(src='/packages/website/assets/img/photos/post01.jpg', alt='...')
            .post-content.animated(data-animation='fadeInUp')
              .meta
                span
                  i.fa.fa-comment
                  a(href='#') 4
                span
                  i.fa.fa-user
                  a(href='#') John Doe
                span
                  i.fa.fa-tag
                  a(href='#') Webdevelopment
              .date 22 May, 2014
              h1
                a(href='#') Awesome Seattle Cycle Trip
              p.lead Per sint eirmod expetenda te. Pro ne essent.
              p
                | Per ea tibique fabellas electram. Ea aliquam corpora vis. Ne quot civibus atomorum quo.
              a.btn.btn-primary.btn-xs(href='blog-post-mobile.html')
                span Read more
                i.ti-arrow-right
          // Masonry Element / Post
          article.post.post-item.masonry-item.col-lg-4.col-sm-6.col-xs-12
            .post-content.animated(data-animation='fadeInUp')
              .meta
                span
                  i.fa.fa-comment
                  a(href='#') 4
                span
                  i.fa.fa-user
                  a(href='#') John Doe
                span
                  i.fa.fa-tag
                  a(href='#') Webdesign
              .date 22 May, 2014
              h1
                a(href='#') Awesome Seattle Cycle Trip
              p.lead Per sint eirmod expetenda te. Pro ne essent.
              p
                | Per ea tibique fabellas electram. Ea aliquam corpora vis. Ne quot civibus atomorum quo.
              a.btn.btn-primary.btn-xs(href='blog-post-mobile.html')
                span Read more
                i.ti-arrow-right
          // Masonry Element / Post
          article.post.post-item.masonry-item.col-lg-4.col-sm-6.col-xs-12
            .post-photo
              img(src='/packages/website/assets/img/photos/post02.jpg', alt='...')
            .post-content.animated(data-animation='fadeInUp')
              .meta
                span
                  i.fa.fa-comment
                  a(href='#') 4
                span
                  i.fa.fa-user
                  a(href='#') John Doe
                span
                  i.fa.fa-tag
                  a(href='#') Front-End Development
              .date 22 May, 2014
              h1
                a(href='#') Awesome Seattle Cycle Trip
              p.lead Per sint eirmod expetenda te. Pro ne essent.
              p
                | Per ea tibique fabellas electram. Ea aliquam corpora vis. Ne quot civibus atomorum quo.
              a.btn.btn-primary.btn-xs(href='blog-post-mobile.html')
                span Read more
                i.ti-arrow-right
          // Masonry Element / Post
          article.post.post-item.masonry-item.col-lg-4.col-sm-6.col-xs-12
            .post-photo
              img(src='/packages/website/assets/img/photos/post03.jpg', alt='...')
            .post-content.animated(data-animation='fadeInUp')
              .meta
                span
                  i.fa.fa-comment
                  a(href='#') 4
                span
                  i.fa.fa-user
                  a(href='#') John Doe
                span
                  i.fa.fa-tag
                  a(href='#') Webdevelopment
              .date 22 May, 2014
              h1
                a(href='#') Awesome Seattle Cycle Trip
              p.lead Per sint eirmod expetenda te. Pro ne essent.
              p
                | Per ea tibique fabellas electram. Ea aliquam corpora vis. Ne quot civibus atomorum quo.
              a.btn.btn-primary.btn-xs(href='blog-post-mobile.html')
                span Read more
                i.ti-arrow-right
    // Section - Latest Posts / End
    // Section - Contact
    section#contact.section.padding-v-60
      // BG Map
      #google-map.bg-image(data-latitude='39.6336', data-longitude='-79.9506', data-style='light')
      // Contact Box
      .contact-box.bg-secondary.dark.animated(data-animation='flipInY')
        h1
          | Don’t hesitate to 
          strong contact me
        // Contact List
        ul.list-unstyled.list-unstyled-icons
          li
            i.inline-icon.icon-before-and-after.text-primary.fa.fa-map-marker
            | Morgantown, WV USA
          li
            i.inline-icon.icon-before-and-after.text-primary.fa.fa-comment
            a(href='#') mattmoyles@icloud.com
          li
            i.inline-icon.icon-before-and-after.text-primary.fa.fa-github
            a(href="https://github.com/dubvfan87") Github
        a.btn.btn-primary(href='#', data-target='messenger')
          span Use Contact Form
          i.ti-email
        h5.margin-t-60 Social Media
        ul.list-inline
          li
            a.icon.icon-circle.icon-xs.icon-github(href='https://github.com/dubvfan87')
              i.fa.fa-github
          li
            a.icon.icon-circle.icon-xs.icon-orange(href='http://stackoverflow.com/users/652807/dubvfan87')
              i.fa.fa-stack-overflow
          li
            a.icon.icon-circle.icon-xs.icon-twitter(href='https://twitter.com/dubvfan87')
              i.fa.fa-twitter
    // Section - Contact / End
  // Content / End
  // Messanger
  a#messenger-toggle.icon.icon-sm.icon-circle.animated(href='#', data-target='messenger', data-animation='bounceIn', data-animation-delay='300')
    i.fa.fa-comments
  #messenger.dark
    #messenger-box
      .messenger-box-content
        // Close
        a.messenger-close.icon.icon-hover.icon-xs.icon-circle.icon-white(href='#', data-target='messenger')
          i.fa.fa-times
        // Avatar
        img.img-circle.margin-b-30(src='/packages/website/assets/img/photos/avatar-default.jpg', alt='...')
        h3
          | Please fill out the 
          strong form
          |  and I will get back to you
        // Contact Form
        form#contact-form
          .form-alert
          .form-error.alert.alert-default
            ul
          .form-group
            label Name:
            input#name.form-control(type='text', name='name')
          .form-group
            label Addres e-mail:
            input#email.form-control(type='text', name='email')
          .form-group
            label Message:
            textarea#message.form-control(name='message', rows='4')
          button.btn.btn-secondary(type='submit')
            span Send a message
            i.ti-email
  // Mobile Navigation
  a#mobile-nav-toggle.icon.icon-circle.icon-sm.icon-primary.icon-hover(href='#', data-target='mobile-nav')
    i.ti-menu
  nav#mobile-nav.bg-white
    .mobile-nav-wrapper
      // Avatar
      img.img-circle.margin-b-30(src='/packages/website/assets/img/photos/avatar-default.jpg', alt='...')
      // Nav
      ul.nav.nav-vertical
        li
          a(href='#start')
            span Start
        li
          a(href='#resume')
            span Resume
        //li
          a(href='#portfolio')
            span Portfolio
        //li
          a(href='#testimonials')
            span Testimonials
        //li
          a(href='#posts')
            span Latest Posts
        li
          a(href='#contact')
            span Contact
      // Social Media
      //.margin-t-20
        ul.list-inline.margin-t-10
          li
            a.icon.icon-xs(href='#')
              i.fa.fa-facebook.text-muted
          li
            a.icon.icon-xs(href='#')
              i.fa.fa-twitter.text-muted
          li
            a.icon.icon-xs(href='#')
              i.fa.fa-google-plus.text-muted
    a.mobile-nav-close.icon.icon-hover.icon-xs.icon-circle.icon-primary(href='#', data-target='mobile-nav')
      i.fa.fa-times
  // Ajax Wrapper & Loader
  #ajax-modal
  #ajax-loader
    i.fa.fa-spinner.fa-spin
