/* -----------------------------------------------------------------------------

Mi. - Ultimate Personal Resume vCard Template

File:			CSS Theme Base
Version:		1.1
Last change:	30/10/15
Author:			Suelo

Table of Contents:

	1. Document Setup
	2. Basic
	3. Header
	4. Content
	5. Elements
	6. Media Queries

-------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------- */
/* --- 1. DOCUMENT SETUP
/* ----------------------------------------------------------------------------- */

    body {
    	position: relative;
		color: #282828;
		font-size: 13px;
		font-family: 'Helvetica Neue','Roboto',Helvetica,Arial,sans-serif;
		font-weight: 400;
		line-height: 1.6;
		overflow-x: hidden;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	a {
		color: inherit;
		transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
	}

	a:hover, a:focus { text-decoration: none; }

	textarea:focus, input:focus, a:focus, a:visited, *:focus { outline: none; }

	iframe { border: none; }

	img { max-width: 100%; height: auto; -webkit-backface-visibility: hidden;}

/* ----------------------------------------------------------------------------- */
/* --- 2. BASIC
/* ----------------------------------------------------------------------------- */

	.relative { position: relative; z-index: 2; }

	.border { border: 1px solid rgba(0,0,0,0.15); }
	.dark.border, .dark .border { border: 1px solid rgba(255,255,255,0.2); }
	.border-bottom { border-bottom: 1px solid rgba(0,0,0,0.15); }
	.dark.border-bottom, .dark .border-bottom { border-bottom: 1px solid rgba(255,255,255,0.1); }
	.border-top { border-top: 1px solid rgba(0,0,0,0.15); }
	.dark.border-top, .dark .border-top { border-top: 1px solid rgba(255,255,255,0.2); }

	.light { color: #111111; }
	.dark { color: #fff; }

	.padding-70 { padding: 70px; }
	.padding-60 { padding: 60px; }
	.padding-40 { padding: 40px; }
	.padding-30 { padding: 30px; }
	.padding-20 { padding: 20px; }
	.padding-15 { padding: 15px; }
	.padding-10 { padding: 10px; }

	.padding-v-130 { padding-top: 130px; padding-bottom: 130px; }
	.padding-v-120 { padding-top: 120px; padding-bottom: 120px; }
	.padding-v-110 { padding-top: 110px; padding-bottom: 110px; }
	.padding-v-100 { padding-top: 100px; padding-bottom: 100px; }
	.padding-v-90 { padding-top: 90px; padding-bottom: 90px; }
	.padding-v-80 { padding-top: 80px; padding-bottom: 80px; }
	.padding-v-70 { padding-top: 70px; padding-bottom: 70px; }
	.padding-v-60 { padding-top: 60px; padding-bottom: 60px; }
	.padding-v-50 { padding-top: 50px; padding-bottom: 50px; }
	.padding-v-40 { padding-top: 40px; padding-bottom: 40px; }
	.padding-v-30 { padding-top: 30px; padding-bottom: 30px; }
	.padding-v-20 { padding-top: 20px; padding-bottom: 20px; }
	.padding-v-10 { padding-top: 10px; padding-bottom: 10px; }

	.padding-h-130 { padding-left: 130px; padding-right: 130px; }
	.padding-h-120 { padding-left: 120px; padding-right: 120px; }
	.padding-h-110 { padding-left: 110px; padding-right: 110px; }
	.padding-h-100 { padding-left: 100px; padding-right: 100px; }
	.padding-h-90 { padding-left: 90px; padding-right: 90px; }
	.padding-h-80 { padding-left: 80px; padding-right: 80px; }
	.padding-h-70 { padding-left: 70px; padding-right: 70px; }
	.padding-h-60 { padding-left: 60px; padding-right: 60px; }
	.padding-h-50 { padding-left: 50px; padding-right: 50px; }
	.padding-h-40 { padding-left: 40px; padding-right: 40px; }
	.padding-h-30 { padding-left: 30px; padding-right: 30px; }
	.padding-h-20 { padding-left: 20px; padding-right: 20px; }
	.padding-h-10 { padding-left: 10px; padding-right: 10px; }

	.padding-t-130 { padding-top: 130px; }
	.padding-t-120 { padding-top: 120px; }
	.padding-t-110 { padding-top: 110px; }
	.padding-t-100 { padding-top: 100px; }
	.padding-t-90 { padding-top: 90px; }
	.padding-t-80 { padding-top: 80px; }
	.padding-t-70 { padding-top: 70px; }
	.padding-t-60 { padding-top: 60px; }
	.padding-t-50 { padding-top: 50px; }
	.padding-t-40 { padding-top: 40px; }
	.padding-t-30 { padding-top: 30px; }
	.padding-t-20 { padding-top: 20px; }
	.padding-t-15 { padding-top: 15px; }
	.padding-t-10 { padding-top: 10px; }

	.padding-b-130 { padding-bottom: 130px; }
	.padding-b-120 { padding-bottom: 120px; }
	.padding-b-110 { padding-bottom: 110px; }
	.padding-b-100 { padding-bottom: 100px; }
	.padding-b-90 { padding-bottom: 90px; }
	.padding-b-80 { padding-bottom: 80px; }
	.padding-b-70 { padding-bottom: 70px; }
	.padding-b-60 { padding-bottom: 60px; }
	.padding-b-50 { padding-bottom: 50px; }
	.padding-b-40 { padding-bottom: 40px; }
	.padding-b-30 { padding-bottom: 30px; }
	.padding-b-20 { padding-bottom: 20px; }
	.padding-b-15 { padding-bottom: 15px; }
	.padding-b-10 { padding-bottom: 10px; }

	.margin-t-0 { margin-top: 0px !important; }
	.margin-t-5 { margin-top: 5px !important; }
	.margin-t-10 { margin-top: 10px !important; }
	.margin-t-15 { margin-top: 15px !important; }
	.margin-t-20 { margin-top: 20px !important; }
	.margin-t-30 { margin-top: 30px !important; }
	.margin-t-40 { margin-top: 40px !important; }
	.margin-t-50 { margin-top: 50px !important; }
	.margin-t-60 { margin-top: 60px !important; }
	.margin-t-70 { margin-top: 70px !important; }
	.margin-t-80 { margin-top: 80px !important; }
	.margin-t-90 { margin-top: 90px !important; }
	.margin-t-100 { margin-top: 100px !important; }
	.margin-t-110 { margin-top: 110px !important; }
	.margin-t-120 { margin-top: 120px !important; }

	.margin-b-0 { margin-bottom: 0px !important; }
	.margin-b-5 { margin-bottom: 5px !important; }
	.margin-b-10 { margin-bottom: 10px !important; }
	.margin-b-15 { margin-bottom: 15px !important; }
	.margin-b-20 { margin-bottom: 20px !important; }
	.margin-b-30 { margin-bottom: 30px !important; }
	.margin-b-40 { margin-bottom: 40px !important; }
	.margin-b-50 { margin-bottom: 50px !important; }
	.margin-b-60 { margin-bottom: 60px !important; }
	.margin-b-70 { margin-bottom: 70px !important; }
	.margin-b-80 { margin-bottom: 80px !important; }
	.margin-b-90 { margin-bottom: 90px !important; }
	.margin-b-100 { margin-bottom: 100px !important; }
	.margin-b-110 { margin-bottom: 110px !important; }
	.margin-b-120 { margin-bottom: 120px !important; }

	.margin-l-10 { margin-left: 10px !important; }
	.margin-l-20 { margin-left: 20px !important; }
	.margin-l-30 { margin-left: 30px !important; }
	.margin-l-40 { margin-left: 40px !important; }
	.margin-l-50 { margin-left: 50px !important; }

	.margin-r-10 { margin-right: 10px !important; }
	.margin-r-20 { margin-right: 20px !important; }
	.margin-r-30 { margin-right: 30px !important; }
	.margin-r-40 { margin-right: 40px !important; }
	.margin-r-50 { margin-right: 50px !important; }

	.h-100 { height: 100px; }
	.h-200 { height: 200px; }
	.h-300 { height: 300px; }
	.h-400 { height: 400px; }
	.h-500 { height: 500px; }
	.h-600 { height: 600px; }
	.h-700 { height: 700px; }
	.h-800 { height: 800px; }
	.h-900 { height: 900px; }

	.h-sm { min-height: 40vh; }
	.h-md { min-height: 60vh; }
	.h-lg { min-height: 80vh; }
	.fullheight { height: 100vh; }

	.icon-before { margin-right: 8px; }
	.icon-after { margin-left: 8px; }
	.icon-before-and-after { margin-right: 8px; margin-left: 8px; }

	.sep-line {
		position: relative;
		z-index: 1;
		display: block;
		height: 1px;
		border: none;
		margin: 10px 0;
		background: rgba(0,0,0,0.1);
	}

	.dark .sep-line { background: rgba(255,255,255,0.2); }

	.v-center {
		position: relative;
		top: 50%;
		transform: translate3d(0,-50%,0);
		-webkit-transform: translate3d(0,-50%,0);
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}

	.v-bottom {
		position: relative;
		top: 95%;
		transform: translate3d(0,-100%,0);
		-webkit-transform: translate3d(0,-100%,0);
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}

	.v-center-items {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		-webkit-align-items: center;
		flex-direction: row;
		-webkit-flex-direction: row;
	}

	.bg-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center center;
		background-size:  cover;
		background-repeat: no-repeat;
		z-index: 0;
	}
	.bg-image > img { display: none; }
	.bg-image + * { position: relative; }
	.bg-fixed { background-attachment: fixed; }

	.bg-video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.bg-video-placeholder { display: none; }

	.bg-map {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.animated { visibility: hidden; }
	.animated.visible { visibility: visible; }
	.animate-hover { -webkit-animation-fill-mode: both; animation-fill-mode: both; }

	.mobile .hidden-mobile { display: none; }

	.shadow {
		-webkit-box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.2);
		box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.2);
	}

	.container-wide { width: 80%; }
	.fullwidth { padding-left: 30px; padding-right: 30px; }

	.row.no-padding { margin-left: 0; margin-right: 0; }
	.row.no-padding > *[class^='col'], .row.no-padding > *[class*=' col'] { padding-left: 0; padding-right: 0; }

	.row.padding-lg { margin-left: -40px; margin-right: -40px; }
	.row.padding-lg > article[class^='col'], .row.padding-lg > *[class*=' col'] { padding-left: 40px; padding-right: 40px; }


/* ----------------------------------------------------------------------------- */
/* --- 3. HEADER
/* ----------------------------------------------------------------------------- */

	#header {
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
	}

	/* Vertical Navigation
	------------------------------------------- */

	.nav-vertical > li:not(:last-child) { border-bottom: 1px solid rgba(0,0,0,0.1); }
	.dark .nav-vertical > li { border-color: rgba(255,255,255,0.1); }

	.nav-vertical > li > a { position: relative; display: inline-block; font-size: 13px; font-weight: 500; padding: 8px 0; }
	.nav-vertical > li > a:hover, .nav-vertical > li > a:focus { background: transparent; }

	.nav-vertical > li > a > span { position: relative; z-index: 1; }
	.nav-vertical > li > a:before {
		position: absolute;
		top: 4px;
		left: -15px;
		bottom: 4px;
		right: -15px;
		border-radius: 20px;
		content: ' ';
		transform: scale(0);
		-webkit-transform: scale(0);
		transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		-webkit-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		visibility: hidden;
		opacity: 0;
	}

	.nav-vertical > li > a.active, .nav-vertical > li.active > a { color: #fff; }
	.nav-vertical > li > a.active:before, .nav-vertical > li.active > a:before { transform: scale(1); -webkit-transform: scale(1); visibility: visible; opacity: 1; }

	.nav-vertical > li > ul {
		padding: 10px 0px 20px;
		list-style: none;
		display: none;
	}
	.nav-vertical > li.active > ul { display: block; }

	.nav-vertical > li > ul > li > a {
		line-height: 1.8;
		opacity: 0.5;
	}

	.nav-vertical > li > ul > li.active > a,
	.nav-vertical > li > ul > li > a:hover,
	.nav-vertical > li > ul > li > a:focus { opacity: 1; }



	/* Vertical Header
	------------------------------------------- */

	.header-vertical #header {
		position: fixed;
		top: 25px;
		left: 25px;
		bottom: 25px;
		width: 270px;
		z-index: 888;
		-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
	}

	/* Nav */
	.header-vertical #header #main-menu { position: relative; background: inherit; z-index: 2 }
	.header-vertical #header .nav-vertical { position: relative; text-align: right; padding: 0 25px; }

	/* Photo */
	.header-vertical #header .photo { margin-bottom: 10px; }

	/* Logo */
	.header-vertical .logo { text-align: right; padding: 90px 30px; margin-bottom: 10px; }
	.header-vertical .logo .name { margin-bottom: 5px; font-size: 46px; line-height: 1;  }
	.header-vertical .logo .caption { font-weight: 600;  }

	/* Social */
	.header-vertical #header .social-media {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 1;
	}

	/* Horizontal Navigation
	------------------------------------------- */

	.nav-horizontal > li { display: inline-block; margin: 0px 10px; line-height: 1.; }

	.nav-horizontal > li > a { position: relative; display: block; font-size: 13px; font-weight: 500; padding: 8px 0; }
	.nav-horizontal > li > a:hover, .nav-horizontal > li > a:focus { background: transparent; }

	.nav-horizontal > li > a > span { position: relative; z-index: 1; }
	.nav-horizontal > li > a:before {
		position: absolute;
		top: 4px;
		left: -15px;
		bottom: 4px;
		right: -15px;
		border-radius: 20px;
		content: ' ';
		transform: scale(0);
		-webkit-transform: scale(0);
		transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		-webkit-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		visibility: hidden;
		opacity: 0;
	}

	.nav-horizontal > li > a.active { color: #fff; }
	.nav-horizontal > li > a.active:before { transform: scale(1); -webkit-transform: scale(1); visibility: visible; opacity: 1; }

	/* Horizontal Header
	------------------------------------------- */

	.header-horizontal #header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 88px;
		z-index: 222;
		-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
	}

	.header-horizontal #header > * { line-height: 88px; }
	.header-horizontal #header > * > * { line-height: 1.6; }

	/* Photo */
	.header-horizontal #header .photo { height: 100%; display: inline-block; line-height: 1; }
	.header-horizontal #header .photo img { height: 100%; }

	/* Logo */
	.header-horizontal .logo {display: inline-block; text-align: right; padding: 9px 30px; min-width: 230px; height: 88px; line-height: 1 !important; }
	.header-horizontal .logo > * { position: relative; top: 11px; }
	.header-horizontal .logo .name { margin-bottom: 0px; font-size: 24px; line-height: 24px !important; }
	.header-horizontal .logo .caption { font-weight: 600; font-size: 12px;  }

	/* Nav */
	.header-horizontal #header #main-menu { display: inline-block; margin-left: 20px; }

	/* Social */


	/* Mobile Navigation
	------------------------------------------- */

	#mobile-nav-toggle {
		position: fixed;
		top: 30px;
		right: 30px;
		z-index: 660;
		-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
	}

	.ajax-modal-opened #mobile-nav-toggle { margin-top: 60px; }

	#mobile-nav {
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		width: 260px;
		z-index: 670;
		transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transform: translateX(100%);
		-webkit-transform: translateX(100%);
		-webkit-box-shadow: -2px 2px 61px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: -2px 2px 61px 0px rgba(0,0,0,0.1);
		box-shadow: -2px 2px 61px 0px rgba(0,0,0,0.1);
	}

	#mobile-nav .mobile-nav-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		padding: 30px 30px;
		overflow-x: hidden;
		overflow-y: auto;
		z-index: 0;
	}

	.mobile-nav-open #mobile-nav { transform: translateX(0); -webkit-transform: translateX(0); }
	.mobile-nav-open.header-horizontal #header, .mobile-nav-open.header-horizontal #header.sticky { transform: translateX(-260px); -webkit-transform: translateX(-260px); }
	.mobile-nav-open #content { transform: translateX(-130px); -webkit-transform: translateX(-130px); }

	#mobile-nav .mobile-nav-close {
		position: absolute;
		top: 30px;
		right: 30px;
	}

/* ----------------------------------------------------------------------------- */
/* --- 4. CONTENT
/* ----------------------------------------------------------------------------- */

	#content {
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
	}

	.header-vertical .section { padding-left: 320px; }

	/* Sections
	-------------------------------------------- */

	.section {
		position: relative;
		overflow: hidden;
	}

	/* Resume */

	.resume-box { margin-bottom: 50px; }
	.skill { margin-bottom: 24px; }

	/* Speciality */

	.speciality {
		padding: 20px 0px;
		border-bottom: 1px solid #eaeaea;
	}

	.dark .speciality { border-color: rgba(255,255,255,0.1) }

	.speciality:last-child {
		border-bottom: none;
	}

	.speciality-icon {
		position: relative;
		top: -2px;
		float: left;
		font-size: 36px;
	}

	.speciality-content {
		padding-top: 6px;
		padding-left: 66px;
	}

	.speciaity-description {
		color: #757575;
		margin-bottom: 0px;
		font-size: 12px;
	}

	.dark .speciaity-description { color: rgba(255,255,255,0.5); }

	/* Timeline  */

	.timeline {
		position: relative;
		border-left: 1px solid #eaeaea;
		padding: 30px 0px;
	}

	.dark .timeline { border-color: rgba(255,255,255,0.1); }

	.timeline-event {
		position: relative;
		padding-left: 30px;
		padding-bottom: 30px;
	}

	.timeline-event:last-child {
		padding-bottom: 0px;
	}

	.timeline-event:before {
		position: absolute;
		top: 0;
		left: -9px;
		width: 7px;
		height: 7px;;
		border: 5px solid #fff;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		content: " ";
	}

	.timeline-event > * { display: block; }

	.event-date { font-weight: 500; font-size: 11px; margin-bottom: 15px; }
	.event-name { font-weight: 500; font-size: 14px; }
	.event-description { font-size: 11px; color: #757575; }
	.dark .event-description { color: rgba(255,255,255,0.5); }

	/* Contact */

	.contact-box { margin-left: 10%; width: 380px; padding: 60px 40px; }

	/* Gallery
	-------------------------------------------- */

	.gallery-item {
		position: relative;
		transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out;
		display: block;
		overflow: hidden;
	}

	.gallery-item .item-photo { position: relative; }

	.gallery-item .item-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 5% 10%;
		transition: all 0.5s ease-out;
		-webkit-transition: all 0.5s ease-out;
	}

	.gallery-item .item-container .item-content {
		position: relative;
		top: 50%;
		transform: translate3d(0,-50%,0);
		-webkit-transform: translate3d(0,-50%,0);
	}

	.gallery-item:hover .item-container.dynamic {
		opacity: 0;
		visibility: hidden;
		transform: translateY(50%);
		-webkit-transform: translateY(50%);
	}

	.gallery-item .item-hover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 5% 10%;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		opacity: 0;
		visibility: hidden;
	}

	.gallery-item:hover .item-hover {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}

	.gallery-item .item-hover-content {
		position: relative;
		top: 50%;
		text-align: center;
		opacity: 0;
		transform: translate3d(0,-50%,0) scale(0.5);
		-webkit-transform: translate3d(0,-50%,0) scale(0.5);
		transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
		-webkit-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
	}

	.gallery-item:hover .item-hover-content {
		opacity: 1;
		transform: translate3d(0,-50%,0) scale(1);
		-webkit-transform: translate3d(0,-50%,0) scale(1);
	}

	.gallery-item .item-hover-corner {
		position: absolute;
		top: 10px;
		right: 15px;
	}

	.gallery-item .item-title {
		text-align: center;
		padding: 25px 10px;
		background-color: #fff;
	}

	.dark .gallery-item .item-title {
		background-color: rgba(0,0,0,0.1);
	}

	.gallery-item .item-title .title { font-size: 15px; font-weight: 500; display: block; line-height: 1; }

	/* Blog
	-------------------------------------------- */

	/* Post Item */

	.post { margin-bottom: 30px; }

	.post .post-content {
		position: relative;
		margin: 0 15px;
		background: #fff;
		color: #282828;
		padding: 25px 30px;
		z-index: 2;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		margin-bottom: 30px;
	}

	.post-item .post-content { margin-bottom: 0 }

	.post-item:hover .post-content {
		-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
	}

	.post .post-photo + .post-content { margin-top: -25px; }

	.post-item h1 { font-size: 36px; }

	.post .meta { font-size: 11px; padding-bottom: 21px; margin-bottom: 20px; border-bottom: 1px solid rgba(0,0,0,0.1); }
	.post .meta > span:not(:last-child) { margin-right: 13px; }
	.post .meta > span > i { margin-right: 5px; opacity: 0.2; }


	.post .date { font-size: 14px; margin-bottom: 20px; font-weight: 500; }

	/* Contact Form
	-------------------------------------------- */

	#messenger {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 360px;
		height: 100%;
		overflow: hidden;
		z-index: 777;
		display: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		transition: box-shadow 0.5s 0.4s;
		-webkit-transition: -webkit-box-shadow 0.5s 0.4s;
	}

	#messenger.active {
		-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
	}

	#messenger-box {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		color: #fff;
	}

	#messenger-box .messenger-box-content {
		position: absolute;
		top: 0;
		left: 0;
		right: -30px;
		margin-right: 30px;
		height: 100%;
		padding: 30px 30px;
		display: none;
		overflow: auto;
	}

	#messenger-box .icon.messenger-close {
		position: absolute;
		top: 30px;
		right: 30px;
	}

	#messenger-box:before {
		position: absolute;
		bottom: 30px;
		right: 30px;
		width: 56px;
		height: 56px;
		content: ' ';
		transition: all 0.7s;
		-webkit-transition: all 0.7s;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		content: ' ';
	}

	#messenger.active #messenger-box:before {
		bottom: -220px;
		right: -220px;
		width: 720px;
		height: 150vh;
	}

	#messenger-toggle {
		position: fixed;
		bottom: 30px;
		right: 30px;
		background-color: #fff;
		-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
		z-index: 776;
	}

	#messenger-toggle:hover, #messenger-toggle:focus { color: #fff; }


	/* Other
	-------------------------------------------- */

	/* Elements Page
	-------------------------------------------- */

	/* Examples */

	.example-box { border: 1px solid #E1E1E8; border-top-left-radius: 4px; border-top-right-radius: 4px; margin-bottom: 20px; }
	.example-box-content { padding: 20px; }
	.example-box-content > *:last-child { margin-bottom: 0; }
	.example-box-title { padding: 10px 20px; text-transform: uppercase; font-size: 11px; border-bottom: 1px solid #E1E1E8; background-color: #F7F8F9; color: #9b9fa1; font-weight: 500; }
	.example-box + pre { margin-top: -1px !important; border-top-left-radius: 0; border-top-right-radius: 0; }

	/* Comments
	-------------------------------------------- */

	.comments { margin-bottom: 30px; }

	.comments,
	.comments ul {
		list-style: none;
		padding: 0;
	}

	.comments ul {
		margin-top: 20px;
		padding-top: 20px;
		padding-left: 95px;
	}

	.comments li { margin-bottom: 25px; }
	.comments li:last-child { margin-bottom: 0; }

	.comment-avatar {
		float: left;
		width: 65px;
		height: 65px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		overflow: hidden;
	}

	.comment-avatar img {
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}

	.comment-title { margin-bottom: 0; }
    .comment-content { padding-left: 95px; }
	.comment-head { padding-top: 10px; padding-bottom: 15px; margin-bottom: 10px; border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
	.dark .comment-head { border-color: rgba(255, 255, 255, 0.15); }

	.comment-text {
		font-size: 12px;
		margin-bottom: 15px;
	}

	.comment-title { padding-right: 100px; }

/* ----------------------------------------------------------------------------- */
/* --- 5. ELEMENTS
/* ----------------------------------------------------------------------------- */

	/* Loader
	------------------------------------------- */

	#page-loader {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 10000;
		transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
	}

	.pace {
		position: absolute;
	    z-index: 2000;
	    top: 50%;
	    left: 50%;
		transform: translate3d(-50%,-50%,0);
		-webkit-transform: translate3d(-50%,-50%,0);
	    -webkit-pointer-events: none;
	    pointer-events: none;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    user-select: none;
		width: 80px;
		height: 80px;
	    display: block !important;
	}

	.pace-inactive {
	    display: none;
	}

	.pace .pace-progress {
		position: relative;
		transform: translate3d(0px, 0px, 0px) !important;
		-webkit-transform: translate3d(0px, 0px, 0px) !important;
		-webkit-transition: all 0.1s;
		-moz-transition: all 0.1s;
		-o-transition: all 0.1s;
		transition: all 0.1s;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		width: 100%;
		height: 100%;
		color: #fff;
		text-align: center;
	}

	@-webkit-keyframes pageLoading {
	  0% {
	    -webkit-transform: none;
	            transform: none;
	  }
	  50% {
	    -webkit-transform: scale(1.9);
	            transform: scale(1.9);
	  }
	  100% {
	    -webkit-transform: none;
	            transform: none;
	  }
	}

	@keyframes pageLoading {
	  0% {
	    -webkit-transform: none;
	            transform: none;
	  }
	  50% {
	    -webkit-transform: scale(1.9);
	            transform: scale(1.9);
	  }
	  100% {
	    -webkit-transform: none;
	            transform: none;
	  }
	}

	.pace .pace-progress:before {
		position: absolute;
		top: 0;
		left: 0;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		width: 100%;
		height: 100%;
		content: ' ';
		-webkit-animation-name: pageLoading;
	    animation-name: pageLoading;
		-webkit-animation-fill-mode:both;
		animation-fill-mode:both;
		-webkit-animation-duration:3s;
		animation-duration:3s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
	}

	.pace .pace-progress:after {
		position: absolute;
		top: 49%;
		left: 49%;
		display: inline-block;
		transform: translate3d(-50%,-50%,0);
		-webkit-transform: translate3d(-50%,-50%,0);
		font-size: 16px;
		font-weight: 600;
	    content: attr(data-progress-text);
	    display: block;
	}

	/* Backgrounds
	------------------------------------------- */

	.bg-green, .bg-success { background-color: #85b448; }
	.bg-blue, .bg-info { background-color: #3aa8db; }
	.bg-orange, .bg-warning { background-color: #d86a39; }
	.bg-red, .bg-danger { background-color: #ca4441; }

	.bg-white { background-color: #fff; }
	.bg-black { background-color: #000000; }
	.bg-grey { background-color: #f8f8f8; }
	.bg-grey-dark { background-color: #232323; }
	.bg-blue-dark { background-color: #1a2a41; }
	.bg-red-dark { background-color: #4b1615; }
	.bg-red-navy { background-color: #723e3d; }
	.bg-green-dark { background-color: #232d1c; }
	.bg-green-navy { background-color: #647247; }
	.bg-brown { background-color: #32281d; }
	.bg-blue-navy { background-color: #31485e; }
	.bg-yellow { background-color: #ddc13e; }
	.bg-yellow-navy { background-color: #8e824c; }
	.bg-beige { background-color: #caa669; }
	.bg-purple { background-color: #8566b5; }
	.bg-purple-navy { background-color: #352a47; }

	.bg-dark { background-color: rgba(0,0,0,0.7); }

	/* Typography
	------------------------------------------- */

	/* Headings */

	h1,h2,h3,h4,h5,h6 {
		margin-top: 0px;
	}

	h1,h2,h3,h4 {
		font-family: 'Roboto Condensed';
		font-weight: 300;
	}

	h5,h6 {
		font-weight: 600;
	}

	h1 { font-size: 42px; } h1.text-lg { font-size: 52px; }
	h2 { font-size: 36px; }
	h3 { font-size: 28px; }
	h4 { font-size: 24px; }
	h5 { font-size: 18px; }
	h6 { font-size: 12px; text-transform: uppercase; color: rgba(0,0,0,.3) } .dark h6 { color: rgba(255,255,255,.4) }

	h1 { margin-bottom: 34px; }
	h2 { margin-bottom: 28px; }
	h3 { margin-bottom: 26px; }
	h4 { margin-bottom: 24px; }
	h5 { margin-bottom: 20px; }
	h6 { margin-bottom: 16px; }

	h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus, h4 a:hover, h4 a:focus, h5 a:hover, h5:focus, h6 a:hover, h6 a:focus { text-decoration: none; }

	/* Paragraph */

	p {
		margin-bottom: 20px;
	}

	p.lead {
		font-size: 18px;
		font-weight: 300;
		margin-bottom: 25px;
	}

	/* Blockquote */

	blockquote { padding: 30px 20px; }
	blockquote footer:before { display: none; }
	blockquote footer img { margin-right: 10px; }
	.dark blockquote .small, .dark blockquote footer, .dark blockquote small { color: rgba(255,255,255,0.5); }

	/* Other */

	pre { padding: 20px; }
	.link-default { text-decoration: underline; }

	/* Text Sizes */

	.text-light { font-weight: 300; }
	.text-xxl { font-size: 52px; }
	.text-xl { font-size: 24px; }
	.text-lg { font-size: 20px; }
	.text-md { font-size: 12px; }
	.text-sm { font-size: 11px; }
	.text-xs { font-size: 10px; }
	.text-italic { font-style: italic; }

	/* Text Colors */

	.text-blue-dark, .text-primary { color: #1a2a41; }
	.text-green, .text-success { color: #85b448; }
	.text-blue, .text-info { color: #3aa8db; }
	.text-orange, .text-warning { color: #d86a39; }
	.text-red, .text-danger { color: #ca4441; }

	.text-white { color: #fff; }
	.text-black { color: #000; }
	.text-grey { color: #f8f8f8; }
	.text-red-dark { color: #4b1615; }
	.text-red-navy { color: #723e3d; }
	.text-green-dark { color: #232d1c; }
	.text-green-navy { color: #647247; }
	.text-brown { color: #32281d; }
	.text-blue-navy { color: #31485e; }
	.text-yellow { color: #ddc13e; }
	.text-yellow-navy { color: #8e824c; }
	.text-beige { color: #caa669; }
	.text-purple { color: #8566b5; }
	.text-purple-navy { color: #352a47; }

	.text-muted { color: #888888; }
	.text-muted-2x { color: #b7b7b7; }
	.dark .text-muted { color: rgba(255,255,255,0.6); }
	.dark .text-muted-2x { color: rgba(255,255,255,0.4); }
	.text-dark { color: rgba(0,0,0,0.6); }


	/* Buttons
	-------------------------------------------- */

	.btn {
		position: relative;
		padding: 15px 32px 17px;
		border-radius: 30px;
		border: none;
		font-size: 13px;
		background: none;
		font-weight: 600;
		margin-bottom: 2px;
		color: #fff;
		transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
	}

	.btn > * {
		display: inline-block;
		transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
	}
	.btn > *:nth-child(2) {
		position: absolute;
		top: 48%;
		transform: translate3d(0,-50%,0);
		-webkit-transform: translate3d(0,-50%,0);
		right: 20px;
		opacity: 0;
		visibility: hidden;
	}
	.btn:hover > *:nth-child(1), .btn:focus > *:nth-child(1) { transform: translateX(-10px); }
	.btn:hover > *:nth-child(2), .btn:focus > *:nth-child(2) { opacity: 1; visibility: visible; }

	.btn:before {
		position: absolute;
		top: -2px;
		left: -2px;
		right: -2px;
		bottom: -2px;
		border-radius: 29px;
 		content: ' ';
 		opacity: 0;
	}
	.btn:focus:before {
		-webkit-animation-fill-mode:both;
		animation-fill-mode:both;
		-webkit-animation-duration:0.6s;
		animation-duration:0.6s;
		-webkit-animation-name: glow;
	    animation-name: glow;
	}
	@-webkit-keyframes glow {
	  0% {
		    opacity: 0.3;
		    -webkit-transform: scale(0);
	  }
	  100% {
		    opacity: 0;
		    -webkit-transform: scale(2);
	  }
	}

	@keyframes glow {
	  0% {
		    opacity: 0.3;
		    transform: scale(0);
	  }
	  100% {
		    opacity: 0;
		    transform: scale(2);
	  }
	}

	.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
	    outline: none;
	}

	.btn > span { position: relative; z-index: 1; }

	/* Colors */

	.btn-green, .btn-success { background-color: #85b448; }
	.btn-green:hover, .btn-success:hover, .btn-green:focus, .btn-success:focus { color: #85b448; }
	.btn-blue, .btn-info { background-color: #3aa8db; }
	.btn-blue:hover, .btn-info:hover, .btn-blue:focus, .btn-info:focus { color: #3aa8db; }
	.btn-orange, .btn-warning { background-color: #d86a39; }
	.btn-orange:hover, .btn-warning:hover, .btn-orange:focus, .btn-warning:focus { color: #d86a39; }
	.btn-red, .btn-danger { background-color: #ca4441; }
	.btn-red:hover, .btn-danger:hover, .btn-red:focus, .btn-danger:focus { color: #ca4441; }
	.btn-white { background-color: #fff; }
	.btn-white:hover, .btn-white:focus { color: #fff; }
	.btn-black { background-color: #282828; }
	.btn-black:hover, .btn-black:focus { color: #282828; }
	.btn-grey { background-color: #f8f8f8; }
	.btn-grey:hover, .btn-grey:focus { color: #f8f8f8; }
	.btn-blue-dark { background-color: #1a2a41; }
	.btn-blue-dark:hover, .btn-blue-dark:focus { color: #1a2a41; }
	.btn-red-dark { background-color: #4b1615; }
	.btn-red-dark:hover, .btn-red-dark:focus { color: #4b1615; }
	.btn-red-navy { background-color: #723e3d; }
	.btn-red-navy:hover, .btn-red-navy:focus { color: #723e3d; }
	.btn-green-dark { background-color: #232d1c; }
	.btn-green-dark:hover, .btn-green-dark:focus { color: #232d1c; }
	.btn-green-navy { background-color: #647247; }
	.btn-green-navy:hover, .btn-green-navy:focus { color: #647247; }
	.btn-brown { background-color: #32281d; }
	.btn-brown:hover, .btn-brown:focus { color: #32281d; }
	.btn-blue-navy { background-color: #31485e; }
	.btn-blue-navy:hover, .btn-blue-navy:focus { color: #31485e; }
	.btn-yellow { background-color: #ddc13e; }
	.btn-yellow:hover, .btn-yellow:focus { color: #ddc13e; }
	.btn-yellow-navy { background-color: #8e824c; }
	.btn-yellow-navy:hover, .btn-yellow-navy:focus { color: #8e824c; }
	.btn-beige { background-color: #caa669; }
	.btn-beige:hover, .btn-beige:focus { color: #caa669; }
	.btn-purple { background-color: #8566b5; }
	.btn-purple:hover, .btn-purple:focus { color: #8566b5; }
	.btn-purple-navy { background-color: #352a47; }
	.btn-purple-navy:hover, .btn-purple-navy:focus { color: #352a47; }

	.btn:hover, .btn:focus { background: #fff; }

	.btn-default { color: #282828; background-color: #f8f8f8; }
	.btn-white { color: #282828; }
	.btn-link { color: inherit; }
	.btn-link:hover, .btn-link:focus { color: inherit; text-decoration: none; background: transparent; }

	/* Sizes */

	.btn-lg { padding: 19px 36px 21px; border-radius: 40px; font-size: 14px; }

	.btn-sm { padding: 11px 29px 13px; border-radius: 25px; font-size: 12px; }

	.btn-xs { padding: 9px 26px 11px; border-radius: 20px; font-size: 11px; }

	/* Labels
	-------------------------------------------- */

	.label { font-size: 70%; font-weight: 500; text-transform: uppercase; }

	.label-default { background-color: transparent; color: inherit; border: 1px solid rgba(0,0,0,0.15); }
	.dark .label-default { border-color: rgba(255,255,255,0.25); }
	.label-primary { background-color: #1a2a41; }
	.label-success { background-color: #85b448; }
	.label-info { background-color: #3aa8db; }
	.label-warning { background-color: #d86a39; }
	.label-danger { background-color: #ca4441; }


	/* Icons
	-------------------------------------------- */

	.icon-box { display: inline-block; margin-bottom: 30px; }
	.icon-box .icon { margin-bottom: 10px; }
	.icon-box .title { display: block; }

	.icon {
		font-size: 62px;
		display: inline-block;
		vertical-align: middle;
		width: 84px;
	}

	.icon.icon-hover {
		transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
	}

	.icon-circle {
		position: relative;
		font-size: 32px;
		height: 84px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		color: #fff;
	}

	.icon-circle > * {
		position: absolute;
		top: 49%;
		left: 49%;
		display: inline-block;
		transform: translate3d(-50%,-50%,0);
		-webkit-transform: translate3d(-50%,-50%,0);
	}

	.icon.icon-hover {
		transition: all 0.1s ease-out;
		-moz-transition: all 0.1s ease-out;
		-webkit-transition: all 0.1s ease-out;
		-o-transition: all 0.1s ease-out;
	}

	a.icon > *:hover, a.icon > *:focus { color: inherit; }

	/* Sizes */

	.icon-lg { font-size: 88px; width: 120px; }
	.icon-lg.icon-circle { font-size: 54px; height: 120px; }

	.icon-sm { font-size: 42px; width: 56px; }
	.icon-sm.icon-circle { font-size: 16px; height: 56px; }

	.icon-xs { font-size: 13px; width: 34px; }
	.icon-xs.icon-circle { font-size: 11px; height: 34px; }

	/* Colors */

	.icon-green, .icon-success { background-color: #85b448; }
	.icon-green.icon-hover:hover, .icon-success.icon-hover:hover, .icon-green.icon-hover:focus, .icon-success.icon-hover:focus { color: #85b448; }
	.icon-blue, .icon-info { background-color: #3aa8db; }
	.icon-blue.icon-hover:hover, .icon-info.icon-hover:hover, .icon-blue.icon-hover:focus, .icon-info.icon-hover:focus { color: #3aa8db; }
	.icon-orange, .icon-warning { background-color: #d86a39; }
	.icon-orange.icon-hover:hover, .icon-warning.icon-hover:hover, .icon-orange.icon-hover:focus, .icon-warning.icon-hover:focus { color: #d86a39; }
	.icon-red, .icon-danger { background-color: #ca4441; }
	.icon-red.icon-hover:hover, .icon-danger.icon-hover:hover, .icon-red.icon-hover:focus, .icon-danger.icon-hover:focus { color: #ca4441; }
	.icon-white { background-color: #fff; color: #282828; }
	.icon-white.icon-hover:hover, .icon-white.icon-hover:focus { color: #fff; color: #282828; }
	.icon-black { background-color: #282828; }
	.icon-black.icon-hover:hover, .icon-black.icon-hover:focus { color: #282828; }
	.icon-grey { background-color: #f8f8f8; color: #282828; }
	.icon-grey.icon-hover:hover, .icon-grey.icon-hover:focus { color: #282828; }
	.icon-blue-dark { background-color: #1a2a41; }
	.icon-blue-dark.icon-hover:hover, .icon-blue-dark.icon-hover:focus { color: #1a2a41; }
	.icon-red-dark { background-color: #4b1615; }
	.icon-red-dark.icon-hover:hover, .icon-red-dark.icon-hover:focus { color: #4b1615; }
	.icon-red-navy { background-color: #723e3d; }
	.icon-red-navy.icon-hover:hover, .icon-red-navy.icon-hover:focus { color: #723e3d; }
	.icon-green-dark { background-color: #232d1c; }
	.icon-green-dark.icon-hover:hover, .icon-green-dark.icon-hover:focus { color: #232d1c; }
	.icon-green-navy { background-color: #647247; }
	.icon-green-navy.icon-hover:hover, .icon-green-navy.icon-hover:focus { color: #647247; }
	.icon-brown { background-color: #32281d; }
	.icon-brown.icon-hover:hover, .icon-brown.icon-hover:focus { color: #32281d; }
	.icon-blue-navy { background-color: #31485e; }
	.icon-blue-navy.icon-hover:hover, .icon-blue-navy.icon-hover:focus { color: #31485e; }
	.icon-yellow { background-color: #ddc13e; }
	.icon-yellow.icon-hover:hover, .icon-yellow.icon-hover:focus { color: #ddc13e; }
	.icon-yellow-navy { background-color: #8e824c; }
	.icon-yellow-navy.icon-hover:hover, .icon-yellow-navy.icon-hover:focus { color: #8e824c; }
	.icon-beige { background-color: #caa669; }
	.icon-beige.icon-hover:hover, .icon-beige.icon-hover:focus { color: #caa669; }
	.icon-purple { background-color: #8566b5; }
	.icon-purple.icon-hover:hover, .icon-purple.icon-hover:focus { color: #8566b5; }
	.icon-purple-navy { background-color: #352a47; }
	.icon-purple-navy.icon-hover:hover, .icon-purple-navy.icon-hover:focus { color: #352a47; }

	.icon.icon-hover:not(.icon-circle):hover { color: inherit; }
	.icon-circle.icon-hover:hover:not(.icon-white):not(#messenger-toggle), .icon-circle.icon-hover:focus:not(.icon-white):not(#messenger-toggle), a.icon-circle:hover:not(.icon-white):not(#messenger-toggle), a.icon-circle:focus:not(.icon-white):not(#messenger-toggle) { background-color: #fff !important; }
	.icon.icon-hover.icon-white:hover, .icon.icon-hover.icon-white:focus { background-color: transparent; color: inherit; }

	/* Social Icons */

	.social-icons {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.social-icons > li {
		display: inline-block;
	}

	.icon-behance { background-color: #0098fd; }
	.icon-behance:hover, 	.icon-behance:focus { color: #0098fd; }
	.icon-dribbble { background-color: #f16092; }
	.icon-dribbble:hover, 	.icon-dribbble:focus { color: #f16092; }
	.icon-dropbox { background-color: #0093eb; }
	.icon-dropbox:hover, 	.icon-dropbox:focus { color: #0093eb; }
	.icon-facebook { background-color: #1f4578; }
	.icon-facebook:hover, 	.icon-facebook:focus { color: #1f4578; }
	.icon-github { background-color: #757575; }
	.icon-github:hover, 	.icon-github:focus { color: #757575; }
	.icon-google-plus { background-color: #e13d3d; }
	.icon-google-plus:hover, 	.icon-google-plus:focus { color: #e13d3d; }
	.icon-instagram { background-color: #bd7f55; }
	.icon-instagram:hover, 	.icon-instagram:focus { color: #bd7f55; }
	.icon-linkedin { background-color: #008fc3; }
	.icon-linkedin:hover, 	.icon-linkedin:focus { color: #008fc3; }
	.icon-skype { background-color: #16bef1; }
	.icon-skype:hover, 	.icon-skype:focus { color: #16bef1; }
	.icon-tumblr { background-color: #3a5974; }
	.icon-tumblr:hover, 	.icon-tumblr:focus { color: #3a5974; }
	.icon-twitter { background-color: #50c8e6; }
	.icon-twitter:hover, 	.icon-twitter:focus { color: #50c8e6; }
	.icon-youtube { background-color: #eb3c31; }
	.icon-youtube:hover, 	.icon-youtube:focus { color: #eb3c31; }

	/* Carousel
	-------------------------------------------- */

	/* Pagination */

	.owl-pagination { text-align: center; }

	.owl-pagination .owl-page {
		display: inline-block;
		margin: 0 5px;
		padding: 5px 0;
		margin-bottom: 5px;
	}

	.owl-pagination .owl-page > span {
		display: block;
		background-color: #282828;
		width: 8px;
		height: 8px;
		opacity: .2;
		vertical-align: middle;
		border-radius: 50%;
		-webkit-transition: all 0.1s ease-out;
 		transition: all 0.1s ease-out;
	}

	.dark .owl-pagination .owl-page > span { background-color: #fff; opacity: .3; }
	.light .owl-pagination .owl-page > span { background-color: #282828; }

	.owl-pagination .owl-page.active > span {
		opacity: 1;
		transform: scale(1.4);
		-webkit-transform: scale(1.4);
	}

	/* Navs
	-------------------------------------------- */

	/* Sticky Nav */

	.side-sticky-navigation.affix { top: 60px; width: 100%; max-width: 300px; }


	/* Lists
	-------------------------------------------- */

	ol, ul { margin-bottom: 25px; }

	/* List Check */

	ul.list-check li {
		list-style: none;
	}
	ul.list-check li:before {
		font-family: 'FontAwesome';
		content: '\f00c';
		margin-right: 10px;
		opacity: 0.4;
	}

	/* Icons List */

	.list-unstyled-icons .inline-icon {
		float: left;
		margin-left: -35px;
	}

	.list-unstyled-icons li {
		padding-left: 30px;
		margin-bottom: 15px;
	}

	.list-unstyled-icons li:last-child {
		margin-bottom: 0px;
	}

	/* Navs
	-------------------------------------------- */

	.nav a {
		color: inherit;
	}

	/* Pills */

	.nav-pills > li > a {
	    border-radius: 40px;
	    padding: 14px 26px;
	    font-weight: 500;
	    border: none;
	    background-color: rgba(0,0,0,0.05);
	    color: #909090;
	}
	.nav-pills > li > a:focus, .nav-pills > li > a:hover { background: transparent; color: #282828; }
	.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover { background-color: #282828; border-color: #282828; }

	/* Panels */

	.nav-panels {
		margin-bottom: 40px;
	}

	.nav-panels > li {
		width: 50%;
		float: left;
	}

	.nav-panels > li > a {
		padding: 40px;
		background: #fff;
		text-align: center;
		font-size: 15px;
		font-weight: 500;
	}

	.nav-panels > li > a:hover, .nav-panels > li > a:focus { background: #fff;}

	.nav-panels > li.active > a, .nav-panels > li.active > a:focus, .nav-panels > li.active > a:hover { color: #fff; }

	/* Forms
	-------------------------------------------- */

	.form-group { margin-bottom: 10px; }

	label {
		font-size: 13px;
	}

	.form-control {
		height: 42px;
		padding: 10px 12px;
		border-color: #dfdfdf;
		border-radius: 3px;
		font-size: 13px;
		-webkit-box-shadow: none;
        box-shadow: none;
	}

	.form-control:focus {
		border-color: #949494;
		border-radius: 3px;
		-webkit-box-shadow: none;
        box-shadow: none;
	}

	.dark .form-control, .dark .form-control:focus { border: none !important; }

	.form-error { display: none; }

	/* Alerts
	-------------------------------------------- */

	.alert { border: none; color: #fff; }

	.alert-default { background-color: rgba(0,0,0,0.15); }

	.alert-success { background-color: #85b448; }
	.alert-info { background-color: #3aa8db; }
	.alert-warning { background-color: #d86a39; }
	.alert-danger { background-color: #ca4441; }

	/* Testimonials
	-------------------------------------------- */

	.testimonial {
		margin-bottom: 45px;
		text-align: left;
	}

	.testimonial-content {
		position: relative;
		padding: 18px 23px;
		line-height: 1.2;
		background-color: #F6F6F6;
	}

	.testimonial-dark .testimonial-content { color: #fff; background-color: rgba(0,0,0,.2); }
	.testimonial-white .testimonial-content { color: #282828; background-color: #fff; }

	.testimonial-content:before {
		position: absolute;;
		bottom: -14px;
		left: 25px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 14px 14px 0 0;
		border-color: #000 transparent transparent;
		content: '';
	}

	.testimonial-content:before { border-color: #F6F6F6 transparent transparent; }
	.testimonial-white .testimonial-content:before { border-color: #fff transparent transparent; }
	.testimonial-dark .testimonial-content:before { border-color: rgba(0,0,0,.2) transparent transparent; }

	.testimonial-author {
		margin-top: 20px;
		line-height: 1.1;
	}

	.testimonial-author .testimonial-icon {
		float: left;
	}

	.testimonial-author .name {
		font-weight: 500;
		font-size: 14px;
		display: block;
	}

	.testimonial-author .caption { font-size: 12px; font-weight: 600; }

	.testimonial-photo {
		position: relative;
		float: left;
		width: 52px;
		height: 52px;
	}

	.testimonial-with-photo .testimonial-author-txt {
		margin-left: 65px;
		padding-top: 11px;
	}

	.testimonial-with-icon .testimonial-icon {
		margin-top: 3px;
	}

	.testimonial-with-icon .testimonial-author-txt {
		margin-left: 25px;
	}

	/* Modal
	-------------------------------------------- */

	.modal { text-align: center; }

	.modal-backdrop.in { opacity: 0.8; }

	.modal-intro {
		color: #fff;
		text-align: left;
	}

	.modal.fade .modal-dialog {
	  -webkit-transition: -webkit-transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.475);
	       -o-transition:      -o-transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.475);
	          transition:         transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.475);
	  -webkit-transform: translate(0, -25%);
	      -ms-transform: translate(0, -25%);
	       -o-transform: translate(0, -25%);
	          transform: translate(0, -25%);
	}

	.modal.in .modal-dialog {
	  -webkit-transform: translate(0, 0);
	      -ms-transform: translate(0, 0);
	       -o-transform: translate(0, 0);
	          transform: translate(0, 0);
	}

	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}

	.modal-dialog {
		display: inline-block;
		text-align: left;
		vertical-align: middle;
	}
	.modal-dialog.modal-md { width: 750px; }

	.modal-content {
		border-radius: 0;
		-webkit-box-shadow: none;
        box-shadow: none;
        border: none;
    }

	.modal-body { padding: 30px; }

	/* Modal Close */

	.modal-close {
		position: absolute;
		top: 30px;
		right: 30px;
		z-index: 50;
		transform: translateY(-40px) rotate(90deg);
		-webkit-transform: translateY(-40px) rotate(90deg);
		opacity: 0;
		background: transparent;
		font-size: 30px;
		border: none;
		color: #fff;
		opacity: 0.3;
		transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
	}

	.modal.in .modal-close { transform: translateY(0) rotate(0); -webkit-transform: translateY(0) rotate(0); opacity: .3; }
	.modal.in .modal-close:hover { opacity: 1; }


	/* Ajax Modal
	-------------------------------------------- */

	#ajax-modal {
		position: fixed;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
		overflow-y: auto;
		overflow-x: hidden;
		display: none;
		z-index: 333;
	}

	.ajax-modal-opened #header { pointer-events: none; opacity: 0.5; }

	#ajax-modal .ajax-body {
		padding-top: 90px;
		padding-bottom: 90px;
	}

	html.locked-scrolling,
	html.locked-scrolling body {
	  height: 100%;
	  overflow: hidden;
	}

	#ajax-modal .ajax-close  {
		position: fixed;
		top: 30px;
		right: 30px;
		z-index: 50;
	}

	#ajax-loader {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 50px;
		height: 50px;
		margin-left: -25px;
		margin-top: -25px;
		color: #fff;
		border-radius: 50%;
		display: none;
		z-index: 999;
	}

	#ajax-loader:before {
		position: absolute;
		top: 0;
		left: 0;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		width: 100%;
		height: 100%;
		content: ' ';
		-webkit-animation-name: pageLoading;
	    animation-name: pageLoading;
		-webkit-animation-fill-mode:both;
		animation-fill-mode:both;
		-webkit-animation-duration:3s;
		animation-duration:3s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
	}

	#ajax-loader > i {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -10px;
		margin-left: -10px;
		font-size: 19px;
	}

	/* Progress Bars
	-------------------------------------------- */

	.progress {
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		height: 5px;
		margin-bottom: 10px;
		background-color: #f1f1f1;
		-webkit-box-shadow: none;
        box-shadow: none;
        overflow: visible;
	}

	.dark .progress { background-color: rgba(255,255,255,0.2); }

	.progress-bar {
		margin-left: -1px;
		text-align: right;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		font-weight: 500;
		box-shadow: none;
		transition: width 1s ease-out;
		-moz-transition: width 1s ease-out;
		-webkit-transition: width 1s ease-out;
		-o-transition: width 1s ease-out;
	}

	.progress-bar > span {
		position: relative;
		top: -8px;
		display: inline-block;
		padding: 0px 10px;
		font-size: 11px;
		border-radius: 15px;
		color: #fff;
		background-color: inherit;
	}

	.progress-bar-blue-dark, .progress-bar-primary, .progress-bar { background-color: #1a2a41; }
	.progress-bar-green, .progress-bar-success { background-color: #85b448; }
	.progress-bar-blue, .progress-bar-info { background-color: #3aa8db; }
	.progress-bar-orange, .progress-bar-warning { background-color: #d86a39; }
	.progress-bar-red, .progress-bar-danger { background-color: #ca4441; }

	.progress-bar-white { background-color: #fff; }
	.progress-bar-black { background-color: #000; }
	.progress-bar-grey { background-color: #f8f8f8; }
	.progress-bar-red-dark { background-color: #4b1615; }
	.progress-bar-red-navy { background-color: #723e3d; }
	.progress-bar-green-dark { background-color: #232d1c; }
	.progress-bar-green-navy { background-color: #647247; }
	.progress-bar-brown { background-color: #32281d; }
	.progress-bar-blue-navy { background-color: #31485e; }
	.progress-bar-yellow { background-color: #ddc13e; }
	.progress-bar-yellow-navy { background-color: #8e824c; }
	.progress-bar-purple { background-color: #8566b5; }
	.progress-bar-purple-navy { background-color: #352a47; }

	/* Charts
	-------------------------------------------- */

	.chart-box {
		text-align: center;
		margin: 0 20px 30px;
		display: inline-block;
	}

	.chart {
		position: relative;
		display: inline-block;
		margin-bottom: 20px;
		text-align: center;
		clear: both;
	}

	.chart + * { display: block; }

	.chart canvas {
	  position: absolute;
	  top: 0;
	  left: 0;
	}

	.chart .percent {
		display: inline-block;
		font-weight: 600;
		z-index: 2;
	}

	.chart {
		font-size: 24px;
	}

	.chart .percent:after {
		font-size: 80%;
		content: '%';
	}

	/* Tooltips
	-------------------------------------------- */

	.tooltip {
		font-family: 'Lato',Helvetica,Arial,sans-serif;
	}

	.tooltip-inner {
		border-radius: 2px;
	}

	.tooltips-light .tooltip-inner {
		background: #fff;
		color: #282828;
		-webkit-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.1);
		box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.1);
	}
	.tooltips-light .tooltip-innter { background-color: #fff; color: #282828; }
	.tooltips-light .tooltip.left .tooltip-arrow { border-left-color: #fff; }
	.tooltips-light .tooltip.right .tooltip-arrow { border-right-color: #fff; }
	.tooltips-light .tooltip.top .tooltip-arrow { border-top-color: #fff; }
	.tooltips-light .tooltip.bottom .tooltip-arrow { border-bottom-color: #fff; }

	/* Pagination
	-------------------------------------------- */

	.pagination > li { display: inline-block; margin: 0 2px; }

	.pagination > li > a, .pagination > li > span {
		position: relative;
		padding: 5px 12px 7px;
		background: transparent;
		border: none;
		color: inherit;
		font-weight: 500;
		border-radius: 30px !important;
	}
	.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover { border: none; color: #fff; }
	.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover { background: transparent; border: none; color: #fff; }



	/* Images
	-------------------------------------------- */

	/* Other
	-------------------------------------------- */

	/* Circle */

	.circle { display: inline-block; width: 108px; height: 108px; border-radius: 50%; }
	.circle-xs { width: 72px; height: 72px; }
	.circle-xs { width: 36px; height: 36px; }

	/* Roll Down */

	.roll-down {
		position: relative;
		height: 65px;
		margin-top: 20px;
		width: 40px;
		display: inline-block;
		border: 3px solid #fff;
		-webkit-border-radius: 22px;
		-moz-border-radius: 22px;
		border-radius: 22px;
		content: ' ';
	}

	.roll-down:after {
		position: absolute;
		top: 15px;
		left: 50%;
		width: 6px;
		height: 6px;
		margin-left: -3px;
		display: block;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		content: ' ';
		background: #fff;
		-webkit-animation-fill-mode:both;
		animation-fill-mode:both;
		-webkit-animation-duration:2s;
		animation-duration:2s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-animation-name: scrolling;
	    animation-name: scrolling;
	}

	@-webkit-keyframes scrolling {
	  0% {
	    -webkit-transform: none;
	            transform: none;
	  }
	  50% {
	    -webkit-transform: translate3d(0, 400%, 0);
	            transform: translate3d(0, 400%, 0);
	  }
	  100% {
	    -webkit-transform: none;
	            transform: none;
	  }
	}

	@keyframes scrolling {
	  0% {
	    -webkit-transform: none;
	            transform: none;
	  }
	  50% {
	    -webkit-transform: translate3d(0, 400%, 0);
	            transform: translate3d(0, 400%, 0);
	  }
	  100% {
	    -webkit-transform: none;
	            transform: none;
	  }
	}


/* ----------------------------------------------------------------------------- */
/* --- 6. MEDIA QUERIES
/* ----------------------------------------------------------------------------- */

	@media only screen and (max-width: 1480px) {

		.container-wide { width: 90%; }
		.contact-box { margin-left: 5%; }
		.row.padding-lg { margin-left: -20px; margin-right: -20px; }
		.row.padding-lg > div[class^='col'], .row.no-padding > div[class*=' col'] { padding-left: 20px; padding-right: 20px; }

		.header-vertical #header { width: 230px; }
		.header-vertical .section { padding-left: 280px; }

	}

	@media only screen and (min-width: 1200px) {

		.col-lg-4 { width: 33.33332%; }

	}

	@media only screen and (max-width: 1199px) {

		.container-wide { width: 98%; }
		.contact-box { margin-left: 1%; }
		.row.padding-lg { margin-left: -15px; margin-right: -15px; }
		.row.padding-lg > div[class^='col'], .row.no-padding > div[class*=' col'] { padding-left: -15px; padding-right: -15px; }

		.header-vertical #header { width: 220px; top: 15px; left: 15px; bottom: 15px; }
		.header-vertical .section { padding-left: 250px; }

		.fullwidth { padding-left: 15px; padding-right: 15px; }

	}

	@media only screen and (min-width: 992px) {

		.col-md-4 { width: 33.33332%; }

	}

	@media only screen and (max-width: 991px) {

		/* Basic */
		.v-center-items { display: block; }
		.v-center, .v-bottom { top: 0; transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); }
		.fullheight { height: auto; }

		.header-vertical .section { padding-left: 0px; }

		/* Section double */
		.section-double .image { position: relative; height: 100vw; max-height: 500px; margin-bottom: 50px; }
		.section-double .content {
			position: relative;
			top: 0;
			transform: none;
			-webkit-transform: none;
		}

		/* Modal */
		.modal-dialog { padding-top: 100px; }
		.modal:before { display: none; }

	}

	@media only screen and (min-width: 768px) {

		.col-sm-4 { width: 33.33332%; }

	}

	@media only screen and (max-width: 767px) {

		.col-xs-4 { width: 33.33332%; }

		.comments ul { padding-left: 25px; }
		.comment-content { padding-left: 80px; }

		.fullwidth { padding-left: 10px; padding-right: 10px; }

		.nav-panels > li > a {
			padding: 40px 15px;
		}
	}

	@media only screen and (max-width: 468px) {

		.contact-box { width: 100%; margin-left: 1%; }

		#messenger { width: 100%; }
		#messenger.active #messenger-box:before { width: 250%; }

		#mobile-nav-toggle,
		#mobile-nav .mobile-nav-close,
		#messenger-box .icon.messenger-close,
		#ajax-modal .ajax-close {
			top: 20px;
			right: 20px;
		}

		#messenger-box:before,
		#messenger-toggle {
			right: 20px;
			bottom: 20px;
		}


	}

	@media only screen and (max-height: 500px) {

		/* Basic */
		.v-center-items { display: block; }
		.v-center, .v-bottom { top: 0; transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); }
		.fullheight { height: auto; }

		#messenger.active #messenger-box:before { height: 250vh; }
	}

	#style-switcher { display: none !important; }
